Sources/ks-lib-docer/services/FonteDocer/wsfonte-raccoglitore/webservice/src/main/webapp/wsdl/rer-fonteSOAP.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.regione.emilia-romagna.it/rer-fonte-raccoglitore/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="rer-fonte" targetNamespace="http://www.regione.emilia-romagna.it/rer-fonte-raccoglitore/">


	<wsdl:types>
		<xsd:schema targetNamespace="http://www.regione.emilia-romagna.it/rer-fonte-raccoglitore/">
		
		<xsd:simpleType name="TipoAttributoType">
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="TESTO"/>
			    <xsd:enumeration value="DATA"/>
			    <xsd:enumeration value="DATARANGE"/>
			    <xsd:enumeration value="NUMERO"/>
			    <xsd:enumeration value="DOMINIO"/>
			    <xsd:enumeration value="BOOLEAN"/>
			</xsd:restriction>
		</xsd:simpleType>
		
		<xsd:complexType name="AttributoBooleanoType">
			<xsd:sequence>
				<xsd:element minOccurs="1" name="codice" type="xsd:string"/>
				<xsd:element minOccurs="1" name="valore" type="xsd:boolean"/>
			</xsd:sequence>
		</xsd:complexType>
		
		<xsd:complexType name="AttributoNumeroType">
			<xsd:sequence>
				<xsd:element minOccurs="1" name="codice" type="xsd:string"/>
				<xsd:element minOccurs="1" name="valore" type="xsd:float"/>
			</xsd:sequence>
		</xsd:complexType>
		
		<xsd:complexType name="AttributoDataType">
			<xsd:sequence>
				<xsd:element minOccurs="1" name="codice" type="xsd:string"/>
				<xsd:element minOccurs="1" name="valore" type="xsd:date"/>
			</xsd:sequence>
		</xsd:complexType>
		
		<xsd:complexType name="AttributoDataRangeType">
			<xsd:sequence>
				<xsd:element minOccurs="1" name="codice" type="xsd:string"/>
				<xsd:element minOccurs="1" name="valore" type="tns:DateRangeType"/>
			</xsd:sequence>
		</xsd:complexType>
		
		<xsd:complexType name="AttributoTestoType">
			<xsd:sequence>
				<xsd:element minOccurs="1" name="codice" type="xsd:string"/>
				<xsd:element minOccurs="1" name="valore" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
		
		<xsd:complexType name="AttributoType">
			<xsd:sequence>
				<xsd:element minOccurs="1" name="codice" type="xsd:string"/>
				<xsd:element minOccurs="1" name="descrizione" type="xsd:string"/>
				<xsd:element minOccurs="0" name="descrizioneLunga" type="xsd:string"/>
				<xsd:element minOccurs="1" name="tipoAttributo" type="tns:TipoAttributoType"/>
				<xsd:element minOccurs="0" name="infoAttributo" type="xsd:string"/>
				<xsd:element minOccurs="0" name="obbligatorio" type="xsd:boolean"/>
				<xsd:element minOccurs="0" name="visibilita" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
		
		<xsd:complexType name="DateRangeType">
			<xsd:sequence>
				<xsd:element minOccurs="0" name="minDate" type="xsd:date"/>
				<xsd:element minOccurs="0" name="maxDate" type="xsd:date"/>
				<xsd:element name="isLeftRangeClosed" type="xsd:boolean"/>
				<xsd:element name="isRightRangeClosed" type="xsd:boolean"/>
			</xsd:sequence>
		</xsd:complexType>
	
		<xsd:complexType name="DelegheType">
   			<xsd:sequence>
   				<xsd:element maxOccurs="unbounded" minOccurs="1" name="delega" type="tns:GetEntitaInformativaRequestDelegheDelega"/>							
   			</xsd:sequence>
   		</xsd:complexType>
   		
		<xsd:complexType name="GenericFaultType">
			<xsd:annotation>
				<xsd:documentation>Genrico Errore</xsd:documentation>
			</xsd:annotation>
			<xsd:sequence>
				<xsd:element maxOccurs="unbounded" minOccurs="0" name="messaggioErrore" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	
		<xsd:complexType name="GetEntitaInformativaRequestDelegheDelega">
			<xsd:sequence>			        						        						
				<xsd:element name="tipoRelazione" type="xsd:string"/>		        				
				<xsd:element name="tipoId" type="xsd:string"/>
				<xsd:element name="id" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
		
		<xsd:element name="getMetadatiEntitaInformativaRequest">
			<xsd:complexType>
				<xsd:sequence>
					<xsd:element name="uidEntitaInformativa" type="xsd:string"/>
					<xsd:element minOccurs="0" name="deleghe" type="tns:DelegheType"/>				
		        </xsd:sequence>
			</xsd:complexType>
		</xsd:element>
		
		<xsd:element name="objectNotFoundError" type="tns:GenericFaultType"/>
		<xsd:element name="authorizationDeniedError" type="tns:GenericFaultType"/>
		<xsd:element name="rerFonteError" type="tns:GenericFaultType"/>
		
		<xsd:element name="getMetadatiEntitaInformativaResponse">
			<xsd:complexType>
				<xsd:sequence>
					<xsd:element name="xmlMetadata" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
		<xsd:element name="getEntitaInformativaRequest">
			<xsd:complexType>
				<xsd:sequence>
					<xsd:element name="uidEntitaInformativa" type="xsd:string"/>
					<xsd:element minOccurs="0" name="deleghe" type="tns:DelegheType"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
		<xsd:element name="getEntitaInformativaResponse">
			<xsd:complexType>
				<xsd:sequence>
					<xsd:element name="title" type="xsd:string"/>
					<xsd:element name="mimteType" type="xsd:string"/>
					<xsd:element name="entitaInformativa" type="xsd:base64Binary"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
		
		<xsd:element name="searchEntitaInformativaRequest">
			<xsd:complexType>
				<xsd:sequence>
					<xsd:element minOccurs="1" name="codiceFonte" type="xsd:string"/>
					<xsd:element minOccurs="0" name="deleghe" type="tns:DelegheType"/>
					<xsd:element minOccurs="0" name="testo" type="xsd:string"/>
					<xsd:element minOccurs="0" name="dateRange" type="tns:DateRangeType"/>
					<xsd:element minOccurs="0" name="numeroRegistrazione" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
		
		<xsd:element name="searchEntitaInformativaResponse">
			<xsd:complexType>
				<xsd:sequence>
					<xsd:element name="queryTime" type="xsd:int"/>
					<xsd:element name="numFound" type="xsd:long"/>
					<xsd:element name="maxScore" type="xsd:float"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="id" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
		
		<xsd:element name="getAttributiRicercaRequest">
			<xsd:complexType>
				<xsd:sequence>
					<xsd:element name="codiceFonte" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
		
		<xsd:element name="getAttributiRicercaResponse">
			<xsd:complexType>
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="attributi" type="tns:AttributoType"/>
					<xsd:element name="esito" type="xsd:boolean"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
		
		
		
		<xsd:element name="searchEntitaInformativaAvanzataRequest">
			<xsd:complexType>
				<xsd:sequence>
					<xsd:element minOccurs="1" name="codiceFonte" type="xsd:string"/>
					<xsd:element minOccurs="0" name="deleghe" type="tns:DelegheType"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="attributiBoolean" type="tns:AttributoBooleanoType"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="attributiDataRange" type="tns:AttributoDataRangeType"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="attributiData" type="tns:AttributoDataType"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="attributiNumero" type="tns:AttributoNumeroType"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="attributiTesto" type="tns:AttributoTestoType"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
		
		<xsd:element name="searchEntitaInformativaAvanzataResponse">
			<xsd:complexType>
				<xsd:sequence>
					<xsd:element name="queryTime" type="xsd:int"/>
					<xsd:element name="numFound" type="xsd:long"/>
					<xsd:element name="maxScore" type="xsd:float"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="id" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
		
		<xsd:complexType name="FacetFieldGroup">
			<xsd:sequence>
				<xsd:element maxOccurs="unbounded" name="facetField" type="tns:FacetField"/>
			</xsd:sequence>
		</xsd:complexType>
		
		<xsd:complexType name="FacetField">
			<xsd:sequence>
				<xsd:element name="facetFieldName" type="xsd:NMTOKEN"/>
				<xsd:element maxOccurs="unbounded" minOccurs="0" name="facetFieldValue">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="value" type="xsd:string"/>
							<xsd:element name="count" type="xsd:long"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
		
		<xsd:complexType name="Document">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:string"/>
			<xsd:element name="version" type="xsd:int"/>
			<xsd:element name="titolo" type="xsd:string"/>
			<xsd:element name="tipoEntita" type="xsd:string"/>
			<xsd:element name="dataAggiornamento" type="xsd:dateTime"/>
			<xsd:element minOccurs="0" name="comune" type="xsd:string"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="relatedDocument">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="fieldName" type="xsd:NMTOKEN"/>
						<xsd:element name="fieldValue" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>	
	
	<xsd:complexType name="FilterQuery">
		<xsd:sequence>
			<xsd:element name="fieldName" type="xsd:NMTOKEN"/>
			<xsd:element name="fieldQuery" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
			
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="getMetadatiEntitaInformativaRequest">
		<wsdl:part element="tns:getMetadatiEntitaInformativaRequest" name="getMetadatiEntitaInformativaRequest"/>
	</wsdl:message>
	<wsdl:message name="getMetadatiEntitaInformativaResponse">
		<wsdl:part element="tns:getMetadatiEntitaInformativaResponse" name="getMetadatiEntitaInformativaResponse"/>
	</wsdl:message>
	<wsdl:message name="getEntitaInformativaRequest">
		<wsdl:part element="tns:getEntitaInformativaRequest" name="getEntitaInformativaRequest"/>
	</wsdl:message>
	<wsdl:message name="getEntitaInformativaResponse">
		<wsdl:part element="tns:getEntitaInformativaResponse" name="getEntitaInformativaResponse"/>
	</wsdl:message>
	<wsdl:message name="searchEntitaInformativaRequest">
		<wsdl:part element="tns:searchEntitaInformativaRequest" name="searchEntitaInformativaRequest"/>
	</wsdl:message>
	<wsdl:message name="searchEntitaInformativaResponse">
		<wsdl:part element="tns:searchEntitaInformativaResponse" name="searchEntitaInformativaResponse"/>
	</wsdl:message>
	<wsdl:message name="getAttributiRicercaRequest">
		<wsdl:part element="tns:getAttributiRicercaRequest" name="getAttributiRicercaRequest"/>
	</wsdl:message>
	<wsdl:message name="getAttributiRicercaResponse">
		<wsdl:part element="tns:getAttributiRicercaResponse" name="getAttributiRicercaResponse"/>
	</wsdl:message>
	<wsdl:message name="searchEntitaInformativaAvanzataRequest">
		<wsdl:part element="tns:searchEntitaInformativaAvanzataRequest" name="searchEntitaInformativaAvanzataRequest"/>
	</wsdl:message>
	<wsdl:message name="searchEntitaInformativaAvanzataResponse">
		<wsdl:part element="tns:searchEntitaInformativaAvanzataResponse" name="searchEntitaInformativaAvanzataResponse"/>
	</wsdl:message>
	
	<wsdl:message name="rerFonteError">
		<wsdl:part element="tns:rerFonteError" name="parameters"/>
	</wsdl:message>
	
	<wsdl:message name="objectNotFoundError">
		<wsdl:part element="tns:objectNotFoundError" name="parameters"/>
	</wsdl:message>
	
	<wsdl:message name="authorizationDeniedError">
		<wsdl:part element="tns:authorizationDeniedError" name="parameters"/>
	</wsdl:message>
	
	<wsdl:portType name="rer-fonte-raccoglitore">
		<wsdl:operation name="getMetadatiEntitaInformativa">
			<wsdl:input message="tns:getMetadatiEntitaInformativaRequest"/>
			<wsdl:output message="tns:getMetadatiEntitaInformativaResponse"/>
			<wsdl:fault message="tns:rerFonteError" name="rerFonteError"/>
			<wsdl:fault message="tns:objectNotFoundError" name="objectNotFoundError"/>
			<wsdl:fault message="tns:authorizationDeniedError" name="authorizationDeniedError"/>
		</wsdl:operation>
		<wsdl:operation name="getEntitaInformativa">
			<wsdl:input message="tns:getEntitaInformativaRequest"/>
			<wsdl:output message="tns:getEntitaInformativaResponse"/>
			<wsdl:fault message="tns:rerFonteError" name="rerFonteError"/>
			<wsdl:fault message="tns:objectNotFoundError" name="objectNotFoundError"/>
			<wsdl:fault message="tns:authorizationDeniedError" name="authorizationDeniedError"/>
		</wsdl:operation>
		<wsdl:operation name="searchEntitaInformativa">
			<wsdl:input message="tns:searchEntitaInformativaRequest"/>
			<wsdl:output message="tns:searchEntitaInformativaResponse"/>
			<wsdl:fault message="tns:rerFonteError" name="rerFonteError"/>
			<wsdl:fault message="tns:objectNotFoundError" name="objectNotFoundError"/>
			<wsdl:fault message="tns:authorizationDeniedError" name="authorizationDeniedError"/>
		</wsdl:operation>
		<wsdl:operation name="searchEntitaInformativaAvanzata">
			<wsdl:input message="tns:searchEntitaInformativaAvanzataRequest"/>
			<wsdl:output message="tns:searchEntitaInformativaAvanzataResponse"/>
			<wsdl:fault message="tns:rerFonteError" name="rerFonteError"/>
			<wsdl:fault message="tns:objectNotFoundError" name="objectNotFoundError"/>
			<wsdl:fault message="tns:authorizationDeniedError" name="authorizationDeniedError"/>
		</wsdl:operation>
		<wsdl:operation name="getAttributiRicerca">
			<wsdl:input message="tns:getAttributiRicercaRequest"/>
			<wsdl:output message="tns:getAttributiRicercaResponse"/>
			<wsdl:fault message="tns:rerFonteError" name="rerFonteError"/>
			<wsdl:fault message="tns:objectNotFoundError" name="objectNotFoundError"/>
			<wsdl:fault message="tns:authorizationDeniedError" name="authorizationDeniedError"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="rer-fonteSOAP" type="tns:rer-fonte-raccoglitore">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getMetadatiEntitaInformativa">
			<soap:operation soapAction="http://www.regione.emilia-romagna.it/rer-fonte-raccoglitore/getMetadatiEntitaInformativa"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="rerFonteError">
				<soap:fault name="rerFonteError" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="objectNotFoundError">
				<soap:fault name="objectNotFoundError" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="authorizationDeniedError">
				<soap:fault name="authorizationDeniedError" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getEntitaInformativa">
			<soap:operation soapAction="http://www.regione.emilia-romagna.it/rer-fonte-raccoglitore/getEntitaInformativa"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="rerFonteError">
				<soap:fault name="rerFonteError" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="objectNotFoundError">
				<soap:fault name="objectNotFoundError" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="authorizationDeniedError">
				<soap:fault name="authorizationDeniedError" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="searchEntitaInformativa">
			<soap:operation soapAction="http://www.regione.emilia-romagna.it/rer-fonte-raccoglitore/searchEntitaInformativa"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="rerFonteError">
				<soap:fault name="rerFonteError" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="objectNotFoundError">
				<soap:fault name="objectNotFoundError" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="authorizationDeniedError">
				<soap:fault name="authorizationDeniedError" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="searchEntitaInformativaAvanzata">
			<soap:operation soapAction="http://www.regione.emilia-romagna.it/rer-fonte-raccoglitore/searchEntitaInformativaAvanzata"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="rerFonteError">
				<soap:fault name="rerFonteError" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="objectNotFoundError">
				<soap:fault name="objectNotFoundError" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="authorizationDeniedError">
				<soap:fault name="authorizationDeniedError" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getAttributiRicerca">
			<soap:operation soapAction="http://www.regione.emilia-romagna.it/rer-fonte-raccoglitore/getAttributiRicerca"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="rerFonteError">
				<soap:fault name="rerFonteError" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="objectNotFoundError">
				<soap:fault name="objectNotFoundError" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="authorizationDeniedError">
				<soap:fault name="authorizationDeniedError" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="rer-fonte">
		<wsdl:port binding="tns:rer-fonteSOAP" name="rer-fonteSOAP">
			<soap:address location="http://localhost:9080/FonteRaccoglitoreWeb/services/rer-fonteSOAP"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
