Sources/ks-lib-server-sdk/src/main/resources/wsdl/WSPEC.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:ns1="http://org.apache.axis2/xsd"
                  xmlns:ns="http://PEC.docer.kdm.it"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:ax21="http://PEC.docer.kdm.it/xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  targetNamespace="http://PEC.docer.kdm.it">
   <wsdl:documentation>
		Servizio per la PEC
	</wsdl:documentation>
   <wsdl:types>
      <xs:schema xmlns:ax22="http://PEC.docer.kdm.it/xsd" attributeFormDefault="qualified"
                 elementFormDefault="qualified"
                 targetNamespace="http://PEC.docer.kdm.it">
         <xs:import namespace="http://PEC.docer.kdm.it/xsd"/>
         <xs:element name="WSPECPECException">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="PECException" nillable="true" type="ax21:PECException"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="invioPEC">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="token" nillable="true" type="xs:string"/>
                  <xs:element minOccurs="0" name="documentoId" type="xs:long"/>
                  <xs:element minOccurs="0" name="datiPec" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="invioPECResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="loginSSO">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="saml" nillable="true" type="xs:string"/>
                  <xs:element minOccurs="0" name="codiceEnte" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="loginSSOResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="writeConfig">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="token" nillable="true" type="xs:string"/>
                  <xs:element minOccurs="0" name="xmlConfig" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="writeConfigResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" type="xs:boolean"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="readConfig">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="token" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="readConfigResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="login">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string"/>
                  <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                  <xs:element minOccurs="0" name="codiceEnte" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="loginResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="logout">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="token" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="logoutResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" type="xs:boolean"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:schema>
      <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                 targetNamespace="http://PEC.docer.kdm.it/xsd">
         <xs:complexType name="PECException">
            <xs:sequence/>
         </xs:complexType>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="logoutRequest">
      <wsdl:part name="parameters" element="ns:logout"/>
   </wsdl:message>
   <wsdl:message name="logoutResponse">
      <wsdl:part name="parameters" element="ns:logoutResponse"/>
   </wsdl:message>
   <wsdl:message name="WSPECPECException">
      <wsdl:part name="parameters" element="ns:WSPECPECException"/>
   </wsdl:message>
   <wsdl:message name="invioPECRequest">
      <wsdl:part name="parameters" element="ns:invioPEC"/>
   </wsdl:message>
   <wsdl:message name="invioPECResponse">
      <wsdl:part name="parameters" element="ns:invioPECResponse"/>
   </wsdl:message>
   <wsdl:message name="writeConfigRequest">
      <wsdl:part name="parameters" element="ns:writeConfig"/>
   </wsdl:message>
   <wsdl:message name="writeConfigResponse">
      <wsdl:part name="parameters" element="ns:writeConfigResponse"/>
   </wsdl:message>
   <wsdl:message name="loginRequest">
      <wsdl:part name="parameters" element="ns:login"/>
   </wsdl:message>
   <wsdl:message name="loginResponse">
      <wsdl:part name="parameters" element="ns:loginResponse"/>
   </wsdl:message>
   <wsdl:message name="readConfigRequest">
      <wsdl:part name="parameters" element="ns:readConfig"/>
   </wsdl:message>
   <wsdl:message name="readConfigResponse">
      <wsdl:part name="parameters" element="ns:readConfigResponse"/>
   </wsdl:message>
   <wsdl:message name="loginSSORequest">
      <wsdl:part name="parameters" element="ns:loginSSO"/>
   </wsdl:message>
   <wsdl:message name="loginSSOResponse">
      <wsdl:part name="parameters" element="ns:loginSSOResponse"/>
   </wsdl:message>
   <wsdl:portType name="WSPECPortType">
      <wsdl:operation name="logout">
         <wsdl:input message="ns:logoutRequest" wsaw:Action="urn:logout"/>
         <wsdl:output message="ns:logoutResponse" wsaw:Action="urn:logoutResponse"/>
         <wsdl:fault message="ns:WSPECPECException" name="WSPECPECException"
                     wsaw:Action="urn:logoutWSPECPECException"/>
      </wsdl:operation>
      <wsdl:operation name="invioPEC">
         <wsdl:input message="ns:invioPECRequest" wsaw:Action="urn:invioPEC"/>
         <wsdl:output message="ns:invioPECResponse" wsaw:Action="urn:invioPECResponse"/>
         <wsdl:fault message="ns:WSPECPECException" name="WSPECPECException"
                     wsaw:Action="urn:invioPECWSPECPECException"/>
      </wsdl:operation>
      <wsdl:operation name="writeConfig">
         <wsdl:input message="ns:writeConfigRequest" wsaw:Action="urn:writeConfig"/>
         <wsdl:output message="ns:writeConfigResponse" wsaw:Action="urn:writeConfigResponse"/>
         <wsdl:fault message="ns:WSPECPECException" name="WSPECPECException"
                     wsaw:Action="urn:writeConfigWSPECPECException"/>
      </wsdl:operation>
      <wsdl:operation name="login">
         <wsdl:input message="ns:loginRequest" wsaw:Action="urn:login"/>
         <wsdl:output message="ns:loginResponse" wsaw:Action="urn:loginResponse"/>
         <wsdl:fault message="ns:WSPECPECException" name="WSPECPECException"
                     wsaw:Action="urn:loginWSPECPECException"/>
      </wsdl:operation>
      <wsdl:operation name="readConfig">
         <wsdl:input message="ns:readConfigRequest" wsaw:Action="urn:readConfig"/>
         <wsdl:output message="ns:readConfigResponse" wsaw:Action="urn:readConfigResponse"/>
         <wsdl:fault message="ns:WSPECPECException" name="WSPECPECException"
                     wsaw:Action="urn:readConfigWSPECPECException"/>
      </wsdl:operation>
      <wsdl:operation name="loginSSO">
         <wsdl:input message="ns:loginSSORequest" wsaw:Action="urn:loginSSO"/>
         <wsdl:output message="ns:loginSSOResponse" wsaw:Action="urn:loginSSOResponse"/>
         <wsdl:fault message="ns:WSPECPECException" name="WSPECPECException"
                     wsaw:Action="urn:loginSSOWSPECPECException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="WSPECSoap11Binding" type="ns:WSPECPortType">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="logout">
         <soap:operation soapAction="urn:logout" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="WSPECPECException">
            <soap:fault use="literal" name="WSPECPECException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="invioPEC">
         <soap:operation soapAction="urn:invioPEC" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="WSPECPECException">
            <soap:fault use="literal" name="WSPECPECException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="writeConfig">
         <soap:operation soapAction="urn:writeConfig" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="WSPECPECException">
            <soap:fault use="literal" name="WSPECPECException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="login">
         <soap:operation soapAction="urn:login" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="WSPECPECException">
            <soap:fault use="literal" name="WSPECPECException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="readConfig">
         <soap:operation soapAction="urn:readConfig" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="WSPECPECException">
            <soap:fault use="literal" name="WSPECPECException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="loginSSO">
         <soap:operation soapAction="urn:loginSSO" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="WSPECPECException">
            <soap:fault use="literal" name="WSPECPECException"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="WSPECSoap12Binding" type="ns:WSPECPortType">
      <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="logout">
         <soap12:operation soapAction="urn:logout" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="WSPECPECException">
            <soap12:fault use="literal" name="WSPECPECException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="invioPEC">
         <soap12:operation soapAction="urn:invioPEC" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="WSPECPECException">
            <soap12:fault use="literal" name="WSPECPECException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="writeConfig">
         <soap12:operation soapAction="urn:writeConfig" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="WSPECPECException">
            <soap12:fault use="literal" name="WSPECPECException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="login">
         <soap12:operation soapAction="urn:login" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="WSPECPECException">
            <soap12:fault use="literal" name="WSPECPECException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="readConfig">
         <soap12:operation soapAction="urn:readConfig" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="WSPECPECException">
            <soap12:fault use="literal" name="WSPECPECException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="loginSSO">
         <soap12:operation soapAction="urn:loginSSO" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="WSPECPECException">
            <soap12:fault use="literal" name="WSPECPECException"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="WSPECHttpBinding" type="ns:WSPECPortType">
      <http:binding verb="POST"/>
      <wsdl:operation name="logout">
         <http:operation location="logout"/>
         <wsdl:input>
            <mime:content type="application/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="application/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="invioPEC">
         <http:operation location="invioPEC"/>
         <wsdl:input>
            <mime:content type="application/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="application/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="writeConfig">
         <http:operation location="writeConfig"/>
         <wsdl:input>
            <mime:content type="application/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="application/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="login">
         <http:operation location="login"/>
         <wsdl:input>
            <mime:content type="application/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="application/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="readConfig">
         <http:operation location="readConfig"/>
         <wsdl:input>
            <mime:content type="application/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="application/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="loginSSO">
         <http:operation location="loginSSO"/>
         <wsdl:input>
            <mime:content type="application/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="application/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="WSPEC">
      <wsdl:port name="WSPECHttpsSoap11Endpoint" binding="ns:WSPECSoap11Binding">
         <soap:address location="http://localhost:8080/WSPEC/services/WSPEC.WSPECHttpsSoap11Endpoint/"/>
      </wsdl:port>
      <wsdl:port name="WSPECHttpsSoap12Endpoint" binding="ns:WSPECSoap12Binding">
         <soap12:address location="http://localhost:8080/WSPEC/services/WSPEC.WSPECHttpsSoap12Endpoint/"/>
      </wsdl:port>
      <wsdl:port name="WSPECHttpsEndpoint" binding="ns:WSPECHttpBinding">
         <http:address location="http://localhost:8080/WSPEC/services/WSPEC.WSPECHttpsEndpoint/"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>