Sources/ks-lib-docer/services/wsdocer/batch/src/test/resources/batch.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="batch">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="rule" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="action"/>
                            <xs:element type="xs:string" name="query_titolario" maxOccurs="unbounded" minOccurs="0"/>
                            <xs:element type="xs:string" name="query_fascicolo" maxOccurs="unbounded" minOccurs="0"/>
                            <xs:element type="xs:string" name="query_documento" maxOccurs="unbounded" minOccurs="0"/>
                            <xs:element name="source">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="groups">
                                            <xs:complexType mixed="true">
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="group" maxOccurs="unbounded" minOccurs="0"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="target">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="groups">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="group" maxOccurs="unbounded" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute name="rights" use="optional">
                                                                        <xs:simpleType>
                                                                            <xs:restriction base="xs:string">
                                                                                <xs:pattern value="normalAccess|fullAccess|readOnly"/>
                                                                            </xs:restriction>
                                                                        </xs:simpleType>
                                                                    </xs:attribute>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="uniqueKey" use="optional"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="ente"/>
            <xs:attribute type="xs:string" name="aoo"/>
        </xs:complexType>
    </xs:element>
</xs:schema>